@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/signin.css" rel="stylesheet" />
    <script type="text/javascript">
        //调用js登陆方法验证用户名和密码,如果通过跳转页面
        function login() {
            //获取用户名和密码
            var userno = $("#UserNo").val();
            var password = $("#UserPswd").val();
            var doRemember = $('#DoRemember').is(':checked');
            //验证用户名不为空
            if (!userno.length > 0) {
                alert("请输入用户名！");
                return;
            }
            //验证密码不为空
            if (!password.length > 0) {
                alert("请输入密码！");
                return;
            }
            $.ajax({
                url: "/Login/confirmation",
                data: { userno: userno, password: password, doRemember: doRemember },
                type: "Get",
                success: function (data) {
                    if (data == "ok") {
                        window.location.href = "/Home/Index";
                    }
                    else {
                        alert("用户名或密码不正确，请您重新输入！");
                    }
                },
            });

        }
    </script>
</head>
 @*background-image: url('/Images/timg.png')*@
<body style="background-color: #bbd9ec; height: 100%; width: 100%; ">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="site-title">
                    <font size="7" color="gray"> 济南特利欧考勤管理系统</font>
                </p>
            </div>

        </div>
        <form class="form-signin">
            <div class="row">
                <label for="LabelUserNo" class="col-md-3" style="margin-top:5px">用户名:</label>
                <input type="text" class="col-md-9 form-control-static" id="UserNo" placeholder="请输入用户名" value="@Model.userNo" required autofocus>
            </div>
            <div class="row " style="margin-top:3px">
                <label for="LabelUserPswd" class="col-md-3" style="margin-top:5px">密&nbsp;&nbsp;&nbsp;&nbsp;码:</label>

                <input type="password" class=" col-md-9 form-control-static" id="UserPswd" placeholder="请输入密码" required>
            </div>
            <div class="row">
                <div class=" checkbox " style="margin-left:27%;margin-top:0px">
                    <label class="col-md-12">
                        <input id="DoRemember" type="checkbox">记住用户名
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" onclick="login()" style="background-color: goldenrod;width:65%;margin-left:25%;margin-top:2px">登录</button>
        </form>
    </div>
</body>
</html>

